@model IncrementViewModel
@{
    ViewData["Title"] = "Increment Page";
}

<div class="text-center">
    <h1 class="display-4">Increment Page</h1>
    <label for="value">Value: </label>
    <input id="value" type="text" readonly="readonly" value="@Model.Value" />
</div>
